*.aux
*.out
*.log
*.bbl
*.blg
*.pyg
*.gz
*.run.xml
**/_minted*

**/.directory
debug.wls
a.wls
anther.tex
anther.pdf
anther.synctex.gz
refs/_minted-FoxH-Parametration


Examples/FoxH_Results.mx
Branches/

documentation/FoxH-Parametration.synctex.gz
documentation/Well-posedness.synctex.gz
documentation/FoxH-Cos_output.tex
documentation/FoxH-Mittag-Leffler_output.tex
documentation/FoxH-Sin_output.tex
documentation/FoxH32-21-Y_output.tex
documentation/FoxH32-21-Z-Star_output.tex
documentation/FoxH32-21-Z_output.tex
documentation/FoxH32-21_output.tex
documentation/FoxH-Bessel-J_2_9_18_output.tex
documentation/FoxH-2_9_4_output.tex

documentation/FoxH-Parametration.toc
