*.aux
*.out
*.log
*.bbl
*.blg
*.pyg
_minted*

debug.wls
a.wls
anther.tex
anther.pdf
anther.synctex.gz
refs/_minted-FoxH-Parametration


Examples/FoxH_Results.mx

documentation/FoxH-Parametration.synctex.gz
documentation/Well-posedness.synctex.gz